In [5]:
list_a =["2020-10-12","2021-11-13","2022-12-14"] #for every string last 2char access
list_b = []
for i in list_a:
    list_b.append(i[-2:])
print(list_b)

['12', '13', '14']

In [10]:
list_a =["2020-10-12","2021-11-13","2022-12-14"] #for every string last 2char access with split method
list_b = []
for i in list_a:
    print((i.split("-")[-1]),end =" ")

12 13 14

In [13]:
l1 = [1,2,3,4,5]  #Zip the the 2 lists
l2 = ["s","i","r","e","e"]
list(zip(l1,l2))

[(1, 's'), (2, 'i'), (3, 'r'), (4, 'e'), (5, 'e')]

In [9]:
try:                 #try and except else
    a = 200
    b = 10
    c = a /b
    print(c)
except:
    print("Enter Proper Value Greter than zero")
else:
    print("You entered right value")
finally:
    print("successfully finished")

20.0
You entered right value
successfully finished

In [8]:
try:
    a = 255
    b = 0
    c = a /b
    print(c)
except:
    print("Enter Less than Zero value plz check once")

Enter Less than Zero value plz check once

In [11]:
empty_set ={()} #Creat an empty set
print(type(empty_set))

<class 'set'>

In [12]:
set2 = {1,2,3,3,4,5,5,6,6} # set will not allowed duplicates
print(set2)

{1, 2, 3, 4, 5, 6}

In [14]:
set3 = set2[3:] #set object not Subscriptable
print(set3)

TypeError: 'set' object is not subscriptable

In [21]:
for i in set2: # we can itarate with for loop
    print(i,end =" ")

1 2 3 4 5 6

In [22]:
length = len(set2) # we can find length
print(length)

6

In [31]:
print(set2)
set3 = set2.add("8") we can add values if it not present in the set

{1, 2, 3, 4, 5, 6, 7, 'b', 'a'}

In [32]:
print(set2)

{1, 2, 3, 4, 5, 6, 7, '8', 'b', 'a'}

In [33]:
set2.pop() # pop will delete left side value
print(set2)

{2, 3, 4, 5, 6, 7, '8', 'b', 'a'}

In [34]:
set2.remove(5) #remove will delete specific value
print(set2)

{2, 3, 4, 6, 7, '8', 'b', 'a'}

In [35]:
set2.clear() # clear will delete all the data
print(set2)

set()

In [36]:
set1 = {1,2,3,4,5,6,6} #union operation at set will get all the elements with common
set2 = {3,4,5,6,7,7,8,9}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
set1 = {1,2,3,4,5,6,6} #it will print common elements
set2 = {3,4,5,6,7,7,8,9}
intersection =set1.intersection(set2)
print(intersection)

{3, 4, 5, 6}

In [4]:
set1 = {1,2,3,4,5,6,6} #it will give difference values
set2 = {3,4,5,6,7,7,8,9}
difference = set1.difference(set2)
print(difference)

{1, 2}

In [6]:
set1 = {1,2,3,4,5,6,6} #it will give symetric difference values
set2 = {3,4,5,6,7,7,8,9}
sym_difference = set1.symmetric_difference(set2)
print(sym_difference)

{1, 2, 7, 8, 9}

In [12]:
set_1 = {11,12,13,14,15,16}
set_2 = {11,12,13}
is_subset = set_2.issubset(set_1)
print(is_subset)

True

In [13]:
set_1 = {11,12,13,14,15,16}
set_2 = {11,12,13}
is_superset = set_1.issuperset(set_2)
print(is_superset)

True

In [16]:
set_1 = {11,12,13,14,15,16}
set_2 = {11,12,13}
is_disjoint = set_1.isdisjoint(set_2)
print(is_disjoint)

False

In [17]:
set_1 = {11,12,13,14,15,16}
set_2 = {1,2,3,4,5}
is_disjoint = set_1.isdisjoint(set_2)
print(is_disjoint)

True

In [19]:
#arthmatic operators
a,b = 30,20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

50
10
600
1.5
10
1

In [20]:
#Relational Operators
a,b = 60,50
print(a>b)
print(a<b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
True
False
True

In [21]:
#Logical Operators
c,d,e = 90,80 ,100
and_ope = c>b and d<e
print(and_ope)
or_ope = c>e or e>b
print(or_ope)
not_ope = not(b<c)
print(not_ope)

True
True
False