In [2]:
w = "allthebest" #string methods
w.isalpha()

True

In [5]:
n = "2236789" 
n.isdecimal()

True

In [6]:
w ="hibro"
w.islower()

True

In [7]:
n = "SIRISHA"
n.isupper()

True

In [13]:
w = "12345siris"
w.isalnum()

True

In [14]:
w ="ramakrishna"
w.capitalize()

'Ramakrishna'

In [16]:
w ="Hare rama"
w.title()

'Hare Rama'

In [19]:
w = "SHIMAKH" #swapcase
w.swapcase()

'shimakh'

In [23]:
w = "Shimakh, Technologies"
w.count("o")

2

In [28]:
w = "shimakh, Technologies"
w.index("s")

0

In [29]:
w = "shimakh, Technologies" #from right index(last index)
w.rindex("s")

20

In [30]:
w = "I am a trainee" #it doesnt through error
w.find("a")

2

In [32]:
w = "I am a trainee" # will find the last index occurance
w.rfind("e")

13

In [45]:
a = "That is the beggining"
a.replace("That","This")

'This is the beggining'

In [50]:
mail = "http://palepu.sirisha@gmai.com"
mail.startswith("http://")

True

In [48]:
mail = "rama@yahoo.com"
mail.endswith(".com")

True

In [56]:
w = "Hello world" #membership check
"H" in w

True

In [58]:
c = "123456789"
"10" not in c

True

In [66]:
l1 = "123456789"
max(l1)

'9'

In [68]:
l2 = "Abcdefghi"
min(l2)

'A'

In [33]:
a = 5 #bitwise operators todays session
b = 4
a&b

4

In [34]:
a = 6 
b = 2 
a&b

2

In [35]:
x = 6 
y = 2
x|y

6

In [36]:
a = 5 #complemetary
~a

-6

In [37]:
#^ xor operator
a=5
b =4
a^b

1

In [44]:
a=5
a>>2

1

In [55]:
a = 5
b = 5
a is b #its checking id
c = a==b
print(c) #its checking the values

True

In [59]:
(2+3)/2%6//6-2

-2.0

In [63]:
2+3/4-(2*2**3)%4-3

-0.25

In [64]:
2**3>>3+2^3

3

In [ ]:
#Python functions
1.builin function

In [69]:
import array
array.array("i",(1,2,3,4,5))

array('i', [1, 2, 3, 4, 5])

In [75]:
def greet():
    print("Hi Welcom")
    
a = "sirisha"
greet()
print(a)

Hi Welcom
sirisha

In [79]:
def greet():
    msg = "Hi Good Moring " + n
    print(msg)
    
n = "Rama"
greet()

Hi Good Moring Rama

In [87]:
def div(a,b):
    c = a/b
    return c

div(100,50)

2.0

In [89]:
div(500,5)

100.0

In [93]:
def fun1(name,age=24):
    print(f'my name is {name},and age is {age}')
    
fun1("Rama",30)

my name is Rama,and age is 30

In [97]:
def fun2 (a,*b):
    print(a,b)
    
fun2(20,30)
fun2(1,2,3,4,5)

20 (30,)
1 (2, 3, 4, 5)

In [98]:
def fun3(**kwargs):
    print(kwargs)

fun3(name ="Jai",age = 3)

{'name': 'Jai', 'age': 3}

In [100]:
def fun4(**kwargs):
    print(kwargs)
    
fun4(name ="Manu",age =24, marks=80)

{'name': 'Manu', 'age': 24, 'marks': 80}

In [119]:
def split_string(a):
    b = []
    for i in a.split("/"):
        if i.isdigit():
            b.append(int(i))
        else:
            b.append(i)
    print(b)

a = "1/2/3/4/h"
split_string(a)

c= "RAJ, 3,4,5,6"
split_string(c)

[1, 2, 3, 4, 'h']
['RAJ, 3,4,5,6']

In [ ]:
def fun(a1):
    print("inside before appending",a1,id(a1))
    a1.append(50)

In [122]:
a = lambda a,b:a-b
a(15,16)

-1

In [123]:
#list comprehnsion
#a = [statement, for var in list,condition]
list1 =[1,2,3,4,5,6,7,8,9]
v = [x for x in list1 if x%2==0]
print(v)

[2, 4, 6, 8]

In [124]:
set1 = {1,2,3,4,5}
y ={a+3 for a in set1 if 3 in set1}
print(y)

{4, 5, 6, 7, 8}

In [141]:
list2 =["apple","ball","cat","dog","egg"]
    
dict(enumerate(list2))

{0: 'apple', 1: 'ball', 2: 'cat', 3: 'dog', 4: 'egg'}