In [1]:
#basic practice
a = "Hello World"
print(a)

Hello World

In [9]:
# string slicing
a = "Hello World"
b = a[:5]
print(b)
c = a[-5:]#access last char 
print(c)

d = a[0:5:2] #extented slicing
print(d)

Hello
World
Hlo

In [10]:
a = [0,1,2,3,4,5] #indexing
b =a[3]
print(b)

3

In [12]:
a = "sirisha" # string concatination
print("I am " + a + " from AP")

I am sirisha from AP

In [14]:
w = "Its Python Programming" #length of the string
length = len(w)
print(length)

22

In [15]:
print(type("Hai"))#data types
print(type(12))
print(type(12.5))

<class 'str'>
<class 'int'>
<class 'float'>

In [16]:
a = "125" #type conversion
a = int(a)
print(type(a))
b = float(12)
print(b)

<class 'int'>
12.0

In [19]:
a = 5  # relational Operatiors
b = 6
c = b >= a
d = a <= b
e = a == b
print(c)
print(d)
print(e)

True
True
False

In [22]:
a,b,c = 3,6,9 #logical operators
con1 = a<b and b<c
con2 = b>a or c<a
con3 = not(True)
print(con1)
print(con2)
print(con3)

True
True
False

In [23]:
a, b = 20 ,30 # if else statements
if a<b:
    print("A is Less than B")
else:
    print("A is not greater than B")

A is Less than B

In [24]:
a,b,c = 22,45,56 #nested conditions
if a<b and a<c:
    print("A is less than B and C")
    if b>a or b<c:
        print("B is greater than A and less than C")

A is less than B and C
B is greater than A and less than C

In [37]:
a = "IamaProgrammer" #while loop
counter = 0
while counter < len(a):
    print(a[counter],end =" ")
    counter +=1

b = 5 
counter = 0
while counter <= b:
    print(counter)
    counter +=1

I a m a P r o g r a m m e r 0
1
2
3
4
5

In [38]:
n = 6
sum = 0 
for i in range(1,n+1):
    sum +=i
print(sum)

21

In [39]:
list_1 = [1,2,3,4,5,6,7,8,9]
lis_2 = []
for i in list_1:
    if i%2 ==0:
        lis_2.append(i)
print(lis_2)

[2, 4, 6, 8]

In [45]:
a = 3 #nested for loops
b = 3
for i in range(1,a+1):
    print(str(i)+ " shimakh Technology")
    for j in range(b):
        print("Nested for loop")

1 shimakh Technology
Nested for loop
Nested for loop
Nested for loop
2 shimakh Technology
Nested for loop
Nested for loop
Nested for loop
3 shimakh Technology
Nested for loop
Nested for loop
Nested for loop